.gallery-list {
  padding: 0;
  list-style: none;
}

.gallery-list__item {
  margin-bottom: 10px;
  padding: 0;
  width: 300px;
  min-height: 230px;
  border-radius: 5px;
  overflow: hidden;
}

@media (min-width: $mediumDeviceWidth) {
  .gallery-list__item {
    width: 345px;
  }
}

@media (min-width: $largeDeviceWidth) {
  .gallery-list__item {
    width: 430px;
  }
}
