.slider {
  margin: 0 auto;
  padding-top: 10%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.slider__wrapper {
  position: relative;
  overflow-x: hidden;
  width: inherit;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider__list--animation {
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
}

.slider__list li {
  position: relative;
  margin: 0 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  flex-shrink: 0;
  opacity: 0.5;
}

li.slider__item--currentImg {
  opacity: 1;
}

.slider__link {
  align-self: flex-end;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: linear-gradient(to right, transparent 0%, transparent 47%, #000000 47%, #000000 53%, transparent 53%);
  transform: rotate(45deg);

  &::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    background: linear-gradient(to right, transparent 0%, transparent 47%, #000000 47%, #000000 53%, transparent 53%);
    transform: rotate(90deg);
  }
}
